*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
  touch-action: pan-x pan-y;
}

.header {
	width: 100%;
	height: 11%;
	background-color: #009ee0;
	color: #ffffff;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
  
}

.instructions-container {
  width: 600px; /* Adjust the width as needed */
  padding-left: 30px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #000;
  background-color: #f9f9f9;
  position: absolute;
  left: 10px;
  top: 140px; /* Adjust the top position as needed */
}

.instructions-container h2 {
  margin-top: 10px;
  text-align: center;
}

.instructions-container button.language-switch {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.instructions-container label {
  display: block;
  margin-bottom: 10px;
}

.instructions-container select {
  margin-bottom: 0px;
  padding: 5px;
  font-size: 16px;
}

.instructions {
  text-align: left;
  margin: 10px;
}

.instructions ol {
  list-style-type: decimal;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.instructions li {
  padding-bottom: 10px;
  font-size: 22px;
}

.instructions img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}

.footer {
  width: 100%;
  height: 100px; /* Adjust the height as needed */
  background-color: #009ee0;
  position: absolute;
  bottom: 0;
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Push content to the edges */
  align-items: center; /* Center text vertically */
  padding: 0 20px; /* Add padding to ensure proper spacing from edges */
  box-sizing: border-box; /* Ensure padding doesn't affect total width */
}

.footer-text-left {
  color: white;
  font-size: 26px; /* Adjust text size as needed */
  font-weight: bold;
  text-align: left; /* Align text to the left */
}

.footer-text-right {
  color: white;
  font-size: 26px; /* Adjust text size as needed */
  font-weight: bold;
  text-align: right; /* Align text to the right */
}

.back-to-home {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 35px 60px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  border-radius: 15px;
  font-weight: bold;
  font-size: 18px;
}

.back-to-home:hover {
  background-color: #0056b3;
}

.start-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20%;
}

#start-button {
  background-color: #90ee90; /* Lichtgroen */
  color: white;
  border: 0px solid white;
  padding: 80px 80px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5%;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  font-family: verdana;
  font-weight: bolder;
  text-decoration: none;
  background: linear-gradient(160deg, #90ee90, #66bb66);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
  transition: 0.2s;
}

#start-button:hover {
  background-color: #029f02; 
}

#start-button:active {
  box-shadow: 0 0 20px 10px rgba(0, 255, 0, 0.5); /* Voeg een gloed toe */
}

.timer {
  margin-top: 20px;
  font-size: 100px;
  font-weight: bold;
  display: none;
}

.image-container {
  position: absolute;
  right: 20px;
  top: 220px; /* Adjust the top position as needed */
  width: 500px; /* Adjust the width as needed */
  height: 700px; /* Adjust the height as needed */
  border: 0px solid #000;
  background-color: #e5d6d600;
  padding: 20px;
}

.image-container img {
  max-width: 100%; 
  max-height: 100%; 
  display: block;
  margin: 0 auto; 
 }

.result-image-container {
  position: relative; /* Change to relative for controlled placement */
  margin-top: 0px; /* Add space to move it down */
  width: 350px; /* Increase the width */
  height: 400px; /* Increase the height */
  display: flex; /* Use flexbox to center the image */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  }

.result-image-container img {
  max-width: 100%; /* Ensure the image scales within the container */
  max-height: 100%; /* Ensure the image scales within the container */
  object-fit: contain; /* Maintain aspect ratio */
  border-radius: 150px;
}

.fullscreen-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 30px 40px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  border-radius: 15px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullscreen-button:hover {
  background-color: #0056b3;
}
