<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="static/Tic_tac_toe.css">
</head>
<body>
    <h1>Tic Tac Toe</h1>
    <h3>EASY MODE</h3>
    <div class="info">
        <p id="players"></p> <!-- Shows who is X and O -->
    </div>
    <div class="board" id="board">
        <!-- Cells will be rendered here -->
    </div>
    <p id="status"></p>
    <a class="button" id="restart">Start Game</a>
    <a href="/" class="button">Go Back</a>
    <script src="static/Tic_tac_toe.js"></script>
</body>
</html>
