<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Virtuele Joystick met Vaste Pijltjes</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <div class="header">
    <h1>Welcome to the Maze-Minigame</h1>
  </div>
  <div class="joystick-container">
    <div class="arrow up"></div>
    <div class="arrow down"></div>
    <div class="arrow left"></div>
    <div class="arrow right"></div>
    <div class="joystick-stick"></div>
    <div class="joystick">
      <div class="joystick-handle"></div>
    </div>
    <div class="coordinates">x: 0, y: 0</div>
  </div>
  <div class="footer"></div>
  <a href="index.html" class="back-to-home">Back to home</a>
  <script src="static/script.js"></script>
</body>

</html>
