<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="static/images/Tab_Icon_1.png">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Virtuele Joystick met Vaste Pijltjes</title>
  <link rel="stylesheet" href="static/css/joystick_style.css">
  <link rel="stylesheet" href="static/css/Default_style.css">
</head>

<body>
  <div class="header">
    <h1>Welcome to the Maze-Minigame!</h1>
        <a id="fullscreen-button" class="fullscreen-button" style="display: none;">Fullscreen</a>
  </div>
  <div class="button-group">
    <a class="button" onclick="maze_restart()">Restart Maze</a>
  </div>
  <div class="joystick-container">
    <div class="arrow up"></div>
    <div class="arrow down"></div>
    <div class="arrow left"></div>
    <div class="arrow right"></div>
    <div class="joystick-stick"></div>
    <div class="joystick">
      <div class="joystick-handle"></div>
    </div>
    <div class="coordinates">x: 0, y: 0</div>
  </div>
  
  <div class="footer">
    <div class="footer-text-left">Smart Manufacturing & Robotics Delft</div>
    <div class="footer-text-right">Promo Bot</div>
  </div>
  <a class="back-to-home" onclick="close_cleanup()">Back to home</a>

  <div id="reset-modal" class="modal">
		<div class="modal-content">
			<p id="reset-status">Promo Bot has been stopped, press and hold the Reset button to bring it back to life.</p>
			<button id="reset-button">Hold to Reset</button>
	</div>

  <script src="static/scripts/joystick_script.js"></script>
  <script src="static/scripts/Default_Script.js"></script>
</body>

</html>
