<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="static/images/Tab_Icon_1.png">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Virtuele Joystick met Vaste Pijltjes</title>
  <link rel="stylesheet" href="static/css/joystick_style.css">
</head>

<body>
  <div class="header">
    <h1>Welcome to the Maze-Minigame!</h1>
        <a id="fullscreen-button" class="fullscreen-button" style="display: none;">Fullscreen</a>
  </div>
  <div class="button-group">
		<a class="button" id="restart" onclick="start_game('EASY',  'EASY MODE')">Start Easy mode</a>
  </div>
  <div class="joystick-container">
    <div class="arrow up"></div>
    <div class="arrow down"></div>
    <div class="arrow left"></div>
    <div class="arrow right"></div>
    <div class="joystick-stick"></div>
    <div class="joystick">
      <div class="joystick-handle"></div>
    </div>
    <div class="coordinates">x: 0, y: 0</div>
  </div>
  
  <div class="footer">
    <div class="footer-text-left">Smart Manufacturing & Robotics Delft</div>
    <div class="footer-text-right">Promo Bot</div>
  </div>
  <a href="index.html" class="back-to-home">Back to home</a>
  <script src="static/scripts/joystick_script.js"></script>
</body>

</html>
