<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Main_Menu</title>
	<link rel="stylesheet" href="static/css/main_style.css">
</head>

<div class="header">
	<h1>Main Menu</h1>
</div>

<div class="body">
	<div class="User_interface">
		<a href="index.html" class="button">Tic Tac Toe</a>
		<a href="AI_voice_chat" class="button">AI Voice Chat</a>
		<a href="Maze_game" class="button">Maze</a>
		<a href="Rock_Paper_Scisors" class="button">Rock Paper Scisors</a>
		<a href="Dance" class="button">Dance</a>
		<a href="Machine_vision" class="button">Machine vision</a>
	</div>
</div>

<div class="footer"></div>
<a href="index.html" class="back-to-home" id="Home_button">Back to home</a>
<script src="static/scripts/main_page.js"></script>
<script>setup()</script>
</body>

</html>