<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="static/images/Tab_Icon_1.png">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="static/css/Tic_tac_toe.css">
	<link rel="stylesheet" href="static/css/Default_style.css">
</head>

<div class="header">
	<h1>Welcome to the Tic-Tac-Toe game!</h1>
	<a id="fullscreen-button" class="fullscreen-button" style="display: none;">Fullscreen</a>
</div>

<body>
    <h3 id="mode">Select a mode</h3>
    <div class="info">
        <p id="players"></p> <!-- Shows who is X and O -->
    </div>
    <div class="board" id="board">
		<div class="cell" id="0" onclick="player_move(0)"></div>
		<div class="cell" id="1" onclick="player_move(1)"></div>
		<div class="cell" id="2" onclick="player_move(2)"></div>
		<div class="cell" id="3" onclick="player_move(3)"></div>
		<div class="cell" id="4" onclick="player_move(4)"></div>
		<div class="cell" id="5" onclick="player_move(5)"></div>
		<div class="cell" id="6" onclick="player_move(6)"></div>
		<div class="cell" id="7" onclick="player_move(7)"></div>
		<div class="cell" id="8" onclick="player_move(8)"></div>
    </div>
	<div class="button-group">
		<a class="button" id="random" onclick="start_game('EASY',  'EASY MODE')">Start Easy mode</a>
		<a class="button" id="smart"  onclick="start_game('SMART', 'HARD MODE');">Start Hard mode</a>
	</div>

	<div id="status-modal" class="modal">
		<div class="modal-content">
			<p id="status"></p>
			<button id="close-modal" onclick="closeModal()">Clean the board</button>
		</div>
	</div>
	
    
	<div class="footer">
		<div class="footer-text-left">Smart Manufacturing & Robotics Delft</div>
		<div class="footer-text-right">Promo Bot</div>
	</div>
	<a class="back-to-home" id="Home_button" onclick="close_cleanup()">Back to home</a>

	<div id="reset-modal" class="modal">
		<div class="modal-content">
			<p id="reset-status">Promo Bot has been stopped, press and hold the Reset button to bring it back to life.</p>
			<button id="reset-button">Hold to Reset</button>
		</div>

    <script src="static/scripts/Tic_tac_toe.js"></script>
	<script src="static/scripts/Default_Script.js"></script>
	<script>setup()</script>
</body>
</html>
